<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="C:\Users\becca.ysbrand\Desktop\Introduction to MS Web Development\Unit 1 Project\Unit 1 Project\wwwroot\lib\bootstrap\" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

